html, body {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #222;
    font-size: 12pt;
}
.top-bar {
    background: none repeat scroll 0 0 #333;
    height: 45px;
    line-height: 45px;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1em;
    color: #fff;
    margin-left: 10px;
}

.panel.error, .panel.success {
    display: none;
}

.panel.error p {
    font-size: 1.5rem;
}

.panel.error {
    background: none repeat scroll 0 0 #f2dede;
    border-color: #ebccd1;
    border-style: solid;
    border-width: 1px;
    color: #a94442;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
}

.panel.error h2, .panel.error p {
    color: #a94442;
}

.panel.error h2 {
    font-weight: bold;
    font-size: 2rem;
}

textarea {
    font-family: sans-serif;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #555;
    letter-spacing: 2px;
    border: 0;
    outline: false;
    box-shadow: none;
    padding: 10px;
}

.button {
    float: left;
    padding: 5px;
    text-align: center;
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    text-align: center;
}

.button.left {
    width: 60%;
}

.button.right {
    float: right;
    width: 20%;
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .button.right {
        width: 35%;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .button.right {
        width: 32%;
    }
}

@media only screen and (min-width : 600px) {
    .button.right {
        width: 36%;
    }
}

@media only screen and (min-width : 800px) , screen and (min-width : 768px) {
    .button.right {
        width: 37%;
    }
}

@media only screen and (max-width : 1024px) {
    .button.right {
        width: 37.5%;
    }
}

@media only screen and (min-width : 1025px) {
    .button.right {
        width: 38.4%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: none repeat scroll 0 0 #333;
    width: 100%;
}